
    <div class="msg">选择觅拓类型</div>
    <ul class="list choose-type" data-toggle="">
        <li data-category="type_all"><a>全部</a></li>
        <li data-category="type_boy"><a class="long">只看帅哥</a></li>
        <li data-category="type_girl"><a class="long">只看美女</a></li>
    </ul>

    <div class="msg">点击删除频道</div>
    <ul class="list" data-toggle="menu-selected">
        <li class="fixed" data-category="all"><a>推荐</a></li>
    </ul>


    <div class="msg tip" disabled-message="最多#n#个频道,请先删除一些" origin-message="点击添加以下频道">点击添加以下频道</div>
    <ul class="list" data-toggle="menu-unselected"></ul>
