
<div class="top_bar">
    <div class="abs_m">
        <a href="#refresh" class="refresh_title btn" action-type="fresh" ga_category="refresh" ga_label="" ga_event="click"></a>
        <a href="#refresh" class="refresh_btn btn" action-type="fresh" ga_category="refresh" ga_label="" ga_event="click"></a>
    </div>
    <div class="abs_l">
        <a href="javascript:;" class="msg-box" ga_category="left_button" ga_label="" ga_event="click">
            <div class="circle" style="display:none"></div>
        </a>
    </div>
    <div class="abs_r">
        <a href="#search/" class="btn search"></a>
    </div>
</div>
<div class="top_menu_bar">
    <div class="top_menu_more">
        <div class="list_shadow"></div>
        <a href="#channel" class="more_btn" ga_category="channel" ga_label="" ga_event="channel_more"></a>
    </div>
    <div id="top_menu" class="top_menu">
        <div class="top_menu_list">
            <a data-url="channel=all" href="#list/all" class="btn cur" scroll-left="0">推荐</a>
            <!--
            <a data-url="channel=latvia" href="javascript:;" class="btn " scroll-left="0">拉脱维亚</a>
            <a data-url="channel=lithuania" href="javascript:;" class="btn " scroll-left="0">立陶宛</a>
            <a data-url="channel=estonia" href="javascript:;" class="btn " scroll-left="0">爱沙尼亚</a>
            <a data-url="channel=belarus" href="javascript:;" class="btn " scroll-left="0">白俄罗斯</a>
            <a data-url="channel=ukraine" href="javascript:;" class="btn " scroll-left="0">乌克兰</a>
            -->
        </div>
    </div>
</div>

