<!--
<div class="header-control-bar pics default" data-target="pics">
    <div class="header-default">
        <div class="left">
            <div class="pics-part pics-list">
                <a href="#add-pics" class="tips" data-target="add-pics">添加图片 + </a>
            </div>
            <div class="list-part list-list">
                <a href="#tips" class="tips" data-target="add-list">添加图集 + </a>
            </div>
            <div class="album-part album-list">
                <a href="#tips" class="tips" data-target="add-album">添加作品集 + </a>
            </div>
        </div>
        <div class="center">
            <div class="pics-part pics-list"><span>平面设计</span></div>
        </div>
        <div class="right">
            <div class="pics-part pics-list">
                <a href="#tips" class="tips" data-target="tips">标签</a>
                <span>选择</span>
            </div>
            <div class="list-part list-list">
                <span>默认排序</span>
                <ul>
                    <li>默认排序</li>
                    <li>时间排序</li>
                </ul>
            </div>
            <div class="album-part album-list">分类</div>
        </div>
    </div>
    <div class="header-reverse">
        <div class="left">
            <div class="pics-part pics-list">
                <a href="#add-pics" class="tips" data-target="add-pics">添加图片 + </a>
            </div>
            <div class="list-part list-list">
                <a href="#tips" class="tips" data-target="add-list">添加图集 + </a>
            </div>
            <div class="album-part album-list">
                <a href="#tips" class="tips" data-target="add-album">添加作品集 + </a>
            </div>
        </div>
        <div class="right">
            <div class="pics-part pics-list">
                <a href="#tips" class="tips" data-target="tips">标签</a>
                <span>选择</span>
            </div>
            <div class="pics-part list-list">
                <span>默认排序</span>
                <ul>
                    <li>默认排序</li>
                    <li>时间排序</li>
                </ul>
            </div>
            <div class="album-part album-list">分类</div>
        </div>
    </div>
</div>
-->



















