<div class="header-control-bar pics default" data-target="pics">
    <div class="header-default">
        <div class="left">
            <div class="pics-part pics-list">
                <a href="#add-pics" class="tips" data-target="add-pics">添加图片 + </a>
            </div>
        </div>
        <div class="center">
            <div class="pics-part pics-list"><span>平面设计</span></div>
        </div>
        <div class="right">
            <div class="album-part album-list">分类</div>
        </div>
    </div>
</div>