
<section data-is-video="False" hot-time="1467790278" class=" has_action" data-group-id="6304082590873682434" data-item-id="6304082590873682434" data-format="0">
    <a href="/item/6304082590873682434/" class="article_link clearfix " data-action-label="click_headline">
        <h3 class="dotdot line3 ">李克强总理在武汉长江干堤涉水而行指挥救灾</h3>
        <div class="list_img_holder_large list_img_holder_large_fix" style="background: none;">
            <img src="http://p3.pstatp.com/large/9ef000cd7adf7e10cd1" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;">
        </div>
        <div class="item_info">
            <span class="hot_label space">热</span>
            <span class="src space">中国政府网</span>
            <span class="cmt space">评论&nbsp;640</span>
            <span class="time" title="2016-07-06 15:31">1分钟前</span>
            <span data-id="6304082590873682434" class="dislike-news  fr"></span>
        </div>
    </a>
</section>

<section data-is-video="False" hot-time="1468571796" class=" has_action" data-group-id="6307465096969355522" data-item-id="6307466763684545025" data-format="0">
    <div class="one-px-border"></div>
    <a href="#item/6307466763684545025/" class="article_link clearfix " data-action-label="click_headline" data-tag="news_photography">
        <h3 class="dotdot line3 ">图虫风光摄影：巴滨路</h3>
        <div class="list_image">
            <ul class="clearfix">
                <li class="list_img_holder" style="background: none;"><img src="http://p3.pstatp.com/list/a8d00054e6ceffa061f" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>
                <li class="list_img_holder" style="background: none;"><img src="http://p3.pstatp.com/list/a8c000550bfe255efd9" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>
                <li class="list_img_holder" style="background: none;"><img src="http://p1.pstatp.com/list/a8f000521201c00ba75" onerror="errorimg.call(this)" onload="loadimg.call(this)" style="opacity: 1;"></li>
            </ul>
        </div>
        <div class="item_info">
            <span class="src space">走在路上看风景</span>
            <!--
            <span class="cmt space">评论&nbsp;0</span>
            -->
            <span class="time" title="2016-07-15 16:36">55分钟前</span>
            <span data-id="6307465096969355522" class="dislike-news  fr"></span>
        </div>
    </a>
</section>

