
<ul>
    <li>
        <a href="#myBlog/webapp" class="my-blog">
            我的游记(<%= blog %>)
        </a>
    </li>
    <li>
        <a href="#myFavorite/webapp" class="my-favorite">
            我的收藏(<%= favour %>)
        </a>
    </li>
    <li>
        <a href="#myInfo/webapp" class="my-info">
            我的资料
        </a>
    </li>
    <li>
        <a href="/language" class="my-language">
            觅拓英语
        </a>
    </li>
    <li>
        <a href="#about/webapp" class="about-nirtou">
            关于觅拓
        </a>
    </li>
</ul>
