<div class="bar bar-nav">
    <div class="logo">
        <img src="/images/v1/logo-white.png" alt="几何" />
        <span>几何</span>
    </div>
    <ul class="model-control">
        <li><a class="active" href="#pics">图片</a></li>
        <li><a href="#list" >图集</a></li>
        <!-- -->
        <li><a href="#album">作品集</a></li>
    </ul>
    <div class="info">
        <!--
        <ul class="login-board">
            <li><a href="#login">登录</a></li>
            <li><a href="#reg">注册</a></li>
        </ul>
        -->
        <div class="panel">
            <img src="/images/index/monkey01.png" alt="" />
            <span class="username">username</span>
            <span class="arrow"></span>
        </div>
        <ul class="userinfo">
            <li></li>
            <li></li>
        </ul>
    </div>
</div>