

<ul>
    <li>
        <a href="#myHomework/webapp" class="my-homework">
            我的作业
        </a>
    </li>
    <li>
        <a href="#myNote/webapp" class="my-notebook">
            我的笔记
        </a>
    </li>
    <li>
        <a href="#myInfo/webapp" class="my-info">
            我的资料
        </a>
    </li>
    <li>
        <a href="/blog" class="my-blog">
            觅拓游记
        </a>
    </li>
    <li>
        <a href="#about/webapp" class="about-nirtou">
            关于觅拓
        </a>
    </li>
</ul>


